<% if @user.errors.any? %>
	<div class="error-messages">
		<% if @user.errors.count == 1 %>
			<h4><%= @user.errors.count %> error prohibited this user from being saved:</h4>
		<% else %>
			<h4><%= @user.errors.count %> errors prohibited this user from being saved:</h4>
		<% end %>
		<ul class="error-reasons">
			<% @user.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
		</ul>
	</div>
<% end %>